.mzt-status {
    height: 17vh;
    margin-left: 80%;
}
.mzt-status.status-original {
    background-color: #232526;
    background-image: linear-gradient(135deg, #232526 0%, #414345 100%);
    box-shadow: 0 0 10px #232526;
}
.mzt-status.status-saved {
    background-color: #11998e;
    background-image: linear-gradient(135deg, #11998e 0%, #38ef7d 100%);
    box-shadow: 0 0 10px #25c486;
}
.mzt-status.status-modified {
    background-color: #f8aa3a;
    background-image: linear-gradient(45deg, #f8aa3a 0%, #F37335 100%);
    box-shadow: 0 0 10px rgb(248, 157, 50);
}