@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

.mzt-row-song {
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1% 0 1% 0;
    padding-bottom: 0 !important;
    border-style: solid;
    border-bottom-color: white;
    border-radius: 0.2em;
    border-width: 0 0 0 0;
    box-shadow: 3px 3px 10px gray;
}
.mzt-row-song:hover {
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-name: hover-shadow;
    animation-duration: 0.3s;
}

@keyframes hover-shadow {
    from { box-shadow: 3px 3px 10px gray; }
    to { box-shadow: 5px 5px 15px gray; }
}

.mzt-song-title {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.mzt-song-artist {
    font-family: 'Montserrat', sans-serif;
}

.mzt-song-text {
    cursor: pointer;
    padding-left: 0;
}

.img-thumbnail {
    border-style: none;
    height: 15vh;
    padding: 0;
}

.mzt-btn-actions {
    padding: 0.8em 0.8em 0.8em 0.8em;
    margin: 0.2em 0 0.2em 0;
    color: gray;
    cursor: pointer;
}
.mzt-btn-actions:hover {
    color: black;
}

.form-group > label {
    font-weight: bold;
}

.mzt-row-details {
    margin-top: 1%;
}

.mzt-row-song-header {
    margin-bottom: 1%;
}