/* Always show the vertical scrollbar to avoid content jumping */
body { 
    overflow-y: scroll;
}

.container {
    margin-top: 5%;
    height: 100%; 
    width: 100%; 
}

.mzt-row-upload-songs {
    margin-bottom: 3%;
}

.mzt-invisible {
    display: none;
}