@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap');

.mzt-song-wrapper {
  margin-bottom: 1%;
}

.mzt-col-song-header {
  padding-left: 0;
}

.mzt-song-filename {
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.mzt-song-title {
  font-family: 'Montserrat', sans-serif;
}

.mzt-btn-actions {
  padding: 0.8em 0.8em 0.8em 0.8em;
  margin: 0.2em 0 0.2em 0;
  color: gray;
  cursor: pointer;
  outline-color: white;
}
.mzt-btn-actions:hover {
  color: black;
  outline-color: white;
}
.mzt-btn-actions.active {
  background: -webkit-gradient(linear, left top, left bottom, from(#21D4FD), to(#B721FF));
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mzt-btn-actions.success {
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(62, 214, 248)), to( rgb(0, 240, 132)));
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.mzt-btn-actions.error {
  background: -webkit-gradient(linear, left top, left bottom, from(#FFE53B), to( #ff2565));
  background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.img-thumbnail {
  border-style: none;
  height: 15vh;
  padding: 0;
}

i.disabled {
  color: #8080805e;
}

i.disabled:hover {
  color: #8080805e;
  cursor: default;
}