.mzt-row-song {
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 1% 0 1% 0;
  padding-bottom: 0 !important;
  border-style: solid;
  border-bottom-color: white;
  border-radius: 0.2em;
  border-width: 0 0 0 0;
  box-shadow: 0 0 10px gray;
}

.mzt-row-song:hover {
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; 
  animation-name: hover-shadow;
  animation-duration: 0.3s;
}

@keyframes hover-shadow {
  from { box-shadow: 3px 3px 10px gray; }
  to { box-shadow: 5px 5px 15px gray; }
}